div.greencrystal {
	width: 30px;
	height: 80px;
}
 div.redcrystal {
 	width: 30px;
 	height: 80px;
 }
 
 div.blackcrystal {
 	width: 30px;
    height: 80px
}

 div.yellowcrystal {
 	width: 30px;
 	height: 80px;
 }
 
